# =========================

# Virtual Environment

# =========================

venv/
.venv/

# =========================

# Python Cache

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Jupyter / Colab

# =========================

.ipynb_checkpoints/

# =========================

# Environment Variables

# =========================

.env

# =========================

# VS Code

# =========================

.vscode/

# =========================

# Database

# =========================

scan_history.db
*.db

# =========================

# User Uploads

# =========================

static/uploads/

# =========================

# YOLO Training Outputs

# =========================

runs/

# =========================

# Model Weights

# =========================

weights/
*.pth

# =========================

# Images

# =========================


*.jpg
*.jpeg
*.png
*.HEIC

!static/*.png
!static/*.jpg
!static/*.jpeg

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db
